
.col-lg-5 {
    border: 2em;
}

.contact {
    max-width: 500px;
    padding: 10px 0!important;
}

.container-firs {
    max-width: 500px;
}

.colonna {
  width:auto;
  background: #fff;
  padding: 25px;
  box-shadow: 0 0 25px rgba(0,0,0,0.08);
}


.container-dx {
    width: auto;
}

.dx-group {
    max-width: 500px;
   
}

.info-b {
    width: 80px;
}

.delate-b {
    width: auto;
}

.no-fatture{
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    color: #808080b5;
}